<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="helpdesk_root_menu" name="Helpdesk"/>
    <menuitem id="helpdesk_listar_chamado" name="Chamados" sequence="10" parent="helpdesk_root_menu"
              action="helpdesk_chamado_action" groups="helpdesk.group_helpdesk_gerente"/>
    <menuitem id="helpdesk_criar_chamado" name="Abrir Chamado" sequence="12" parent="helpdesk_root_menu"
              action="helpdesk_criar_chamado_wizard" groups="helpdesk.group_helpdesk_gerente"/>
<!--        <menuitem id="helpdesk_listar_chamado" name="Chamados" sequence="12" action="helpdesk_chamado_action"/>-->
<!--        <menuitem id="helpdesk_criar_chamado" name="Abrir Chamado" sequence="14" action="helpdesk_criar_chamado_wizard"/>-->
<!--    </menuitem>-->
    <menuitem id="helpdesk_configuracao_menu" name="Configuração" sequence="60" parent="helpdesk_root_menu"
              groups="helpdesk.group_helpdesk_gerente">
        <menuitem id="helpdesk_cliente_menu" name="Cliente" sequence="62" action="res_partner_cliente_action"/>
        <menuitem id="helpdesk_categoria_menu" name="Categoria" sequence="64" action="helpdesk_categoria_action"/>
        <menuitem id="helpdesk_tipo_chamado_menu" name="Departamento" sequence="66" action="helpdesk_tipo_chamado_action"/>
        <menuitem id="helpdesk_atendente_menu" name="Atendente" sequence="68" action="res_users_atendente_action"/>
<!--        <menuitem id="helpdesk_usuario_menu" name="Usuário" sequence="88" action="base.action_res_users"/>-->
        <menuitem id="helpdesk_consulta_usuario_menu" name="Consulta Usuário" sequence="70" action="res_users_action"/>
        <menuitem id="helpdesk_item_menu" name="Consulta Item" sequence="82" action="helpdesk_item_action"/>
    </menuitem>
<!--    <menuitem id="helpdesk_chamado_cliente_menu" name="Chamados" sequence="100" parent="helpdesk_root_menu"-->
<!--              groups="helpdesk.group_helpdesk_cliente">-->
    <menuitem id="helpdesk_listar_chamado_cliente" name="Chamados" sequence="12" parent="helpdesk_root_menu"
                action="helpdesk_chamado_cliente_action" groups="helpdesk.group_helpdesk_cliente"/>
    <menuitem id="helpdesk_criar_chamado_cliente" name="Abrir Chamado" sequence="14" parent="helpdesk_root_menu"
                action="helpdesk_criar_chamado_cliente_wizard_server" groups="helpdesk.group_helpdesk_cliente"/>
<!--    </menuitem>-->
<!--    <menuitem id="helpdesk_chamado_atendente_menu" name="Chamados" sequence="120" parent="helpdesk_root_menu"-->
<!--              groups="helpdesk.group_helpdesk_atendente">-->
    <menuitem id="helpdesk_listar_chamado_atendente" name="Chamados" sequence="12" parent="helpdesk_root_menu"
                action="helpdesk_chamado_filtro_atendente_server" groups="helpdesk.group_helpdesk_atendente"/>
    <menuitem id="helpdesk_criar_chamado_atendente" name="Abrir Chamado" sequence="14" parent="helpdesk_root_menu"
                action="helpdesk_criar_chamado_wizard" groups="helpdesk.group_helpdesk_atendente"/>
<!--    </menuitem>-->
</odoo>